.container{
    display: flex;
    flex-direction: column;
}
.seccion{
    background-color: darkslategray;
    padding: 1rem;
    margin: 1rem;
}
.parrafo{
    background-color: aqua;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.parrafo.dragging{
    opacity: 0.3;
}
.deleteP{
    width: 3rem;
    align-self: flex-end;
    margin-right: 20px;
}
.d-none{
    display: none;
}